/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 20, 2017, 9:21:53 PM
    Author     : Adam
*/

/*#updateScore {
    color: black;
    float: right;
    font-weight: bold;
    
}
#scoreButtons {
    display: none;
    width: auto;
    padding-bottom: 5px;
    padding-top: 5px
}

#scoreboard {
    display: none;
    width: auto;
}
#lastRound {
    color: red;
    float: left;
}

#finishRound{
    float: right;
    margin-right: 2%
}

#total{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.ace{
    background-color: gold;
    color: black;
}
.birdie{
    background-color: green;
    color: black;
}
.pars{
    background-color: lightgray;
    color: black;
}
.bogey{
    background-color: orangered;
    color: black;
}
.double{
    background-color: red;
    color: black;
}

#ace{
    background-color: gold;
    color: black;
    font-weight: bold;
    font-size: 20px;
    display: none;
}
#birdies{
    background-color: green;
    color: black;
    font-weight: bold;
    font-size: 20px;
    display: none;
}
#pars{
    background-color: lightgray;
    color: black;
    font-weight: bold;
    font-size: 20px;
    display: none;
}
#bogey{
    background-color: orangered;
    color: black;
    font-weight: bold;
    font-size: 20px;
    display: none;
}
#double{
    background-color: red;
    color: black;
    font-weight: bold;
    font-size: 20px;
    display: none;
}
#total{
    color: black;
    font-weight: bold; 
    font-size: 20px;
    display: none;
}*/

input[type=number]{
    width: 30px;

    color: black;
} 
#app{
    background-image: url('https://m.discgolfscene.com/courses/559/e2d45b6ee79a.jpg');
    opacity: .4;
}

html { 
background: url(img/discHead.png) no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
    