/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 28, 2017, 9:48:02 PM
    Author     : Adam
*/

#app{
    background-image: url('https://m.discgolfscene.com/courses/559/e2d45b6ee79a.jpg');
    opacity: .4;
}